<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Log In</title>
</head>
<body>
  <!-- <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/sign-up">Sign Up</a></li>
    </ul>
  </nav> -->
  <% if (locals.user) {%>
    <h1>WELCOME BACK <%= user.username %></h1>
    <% if (user.member_status === 'member') { %>
      <h2>you are a member!</h2>
      <h2>Admin Status: <%= user.admin_status || 'not assigned' %></h2>
      <% if (user.admin_status !== 'admin') { %>
        <a href="/become-admin">BECOME AN ADMIN</a> <br>
      <% } %>
      <a href="/new-post">CREATE A NEW POST</a> <br>
      <h2>All Messages</h2>
      <ul>
        <% messages.forEach(function(message) { %>
            <li>
                <strong><%= message.username %>:</strong>
                <%= message.message %>
                <em>(<%= message.created_on.toLocaleString() %>)</em>
            </li>
        <% }); %>
      </ul>
    <% } else { %>
      <h2>you are not a member. enter the secret code to become a member!</h2>
      <a href="/secret">ENTER SECRET CODE</a> <br>
    <% } %>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <h1>please log in or <a href="/sign-up">sign up</a></h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input id="username" name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <button type="submit">Log In</button>
    </form>
    <h2>All Messages</h2>
      <ul>
        <% messages.forEach(function(message) { %>
            <li>
                <strong>username hidden (login to see):</strong>
                <%= message.message %>
            </li>
        <% }); %>
      </ul>
  <%}%>
</body>
</html>
